@import 'setup';
@import 'variables';

header {
    // background: url(./assets/CNTower_baseView.jpg) top left no-repeat;
    background: linear-gradient(to bottom, $primary, 70%, $secondary);
    background-size: 50vw;
    background-attachment: fixed;
    height: 100vh;
    position: relative;

    .topBar {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 60px;
    }

    .logo img {
        width: 50px;
        height: 50px;
    }
    
    ul {
        width: 500px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            color: #fff;
        }
    }

    .mainHead {
        display: flex;
        justify-content: center;
        flex-flow: column;
    }

    // .boxLeft {
    //     width: 260px;
    //     height: 260px;
    //     background: $primary;
    //     position: absolute;
    //     top: 272px;
    //     left: 600px;
    //     border-top-left-radius: 50%;
    //     border-bottom-left-radius: 50%;
    // }

    h1 {
        padding: 130px 0 0 0;
        z-index: 99;
        font-size: 4rem;
        margin: 0 auto;
    }

    .title {
        // position: absolute;
        // top: 505px;
        // left: 875px;
        text-align: center;

        h4 {
            padding-left: 25px;
        }

        .headLinks {
            padding: 10px;
            margin: 0 auto;
            width: 400px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-around;
        }
    }

    .copyright p {
        height: 500px; 
        writing-mode: sideways-lr;
        position: absolute;
        top: 245px;
        right: 0;
    }
}