@import 'setup';
@import 'variables';

header {
    background: url(/styles/assets/water-blip.jpg) no-repeat;
    // Header image courtesy of Julian Böck on Unsplash //
    background-size: cover;
    height: 110vh;

    @include tabletLand {
        background-position: center;
    }

    @include landscapePhone {
        background-position: center;
    }

    @include mobilePhone {
        background-position: center;
    }

    @include smallPhone {
        background-position: center;
    }

    .topBar {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 3rem;
        position: relative;
    }

    .logo img {
        width: 50px;
        height: 50px;
        border: 1px solid $primary;
        border-radius: 0.25rem;

        &:hover {
            border: 1px solid $accent;
        }

        @include smallPhone {
            display: none;
        }
    }

    .burgerButton,
    .exit {
        display: none;
        color: $primary;
        font-size: 2rem;

        @include mobilePhone {
            display: flex;
        }
    }

    .nav {
        width: 25rem;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            color: $primary;
            font-weight: 700;
        }

        @include mobilePhone {
            width: 70vw;
        }

        @include smallPhone {
            width: 80vw;
            padding: 0;
        }
    }

    .aboutLink {
        @include mobilePhone {
            display: none;
        }

        @include smallPhone {
            display: none;
        }
    }

    .mainHead {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;

        .media {
            padding: 1rem 0 0 50px;
            margin: 0 auto;
            display: flex;
            flex-flow: row nowrap;
            
            @include smallPhone {
                padding: 1rem 0 0 0.25rem;
            }
        }
    }

    h1 {
        font-size: 5rem;
        margin: 4rem auto 3rem;
        color: $primary;
        text-align: center;

        @include tabletLand {
            font-size: 3.75rem;
            margin-bottom: 1rem;
        }

        @include landscapePhone {
            font-size: 3rem;
        }

        @include mobilePhone {
            margin-top: 3rem;
            font-size: 2.15rem;
        }

        @include smallPhone {
            font-size: 2.5rem;
            margin-top: 1.5rem;
            text-align: center;
        }

    }

    .title {
        text-align: center;

        h2 {
            @include tabletLand {
                background: $primary;
            }

            @include landscapePhone {
                background: $primary;
            }

            @include mobilePhone {
                font-size: 1.25rem;
                background: $primary;
            }

            @include smallPhone {
                font-size: 1rem;
                background: transparent;
                margin-top: 2.5rem;
            }
        }

        .headLinks {
            padding: 1rem;
            margin: 0 auto;
            width: 25rem;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-around;

            button {
                background: $primary;
                color: $tertiary;
                border: 3px solid $tertiary;

                &:hover {
                    color: $accent;
                    border: 3px solid $accent;
                }   
                
                @include smallPhone {
                    margin: 0.25rem auto;
                }
            }

            @include smallPhone {
                flex-flow: column wrap;
            }
        }
    }

    .media i {
        background: $primary;
    }

    // .copyright p {
    //     height: 25rem; 
    //     writing-mode: sideways-lr;
    //     position: absolute;
    //     top: 245px;
    //     right: 0;
    // }

    .scrollDown {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        margin: 0 auto;
        
        .arrowIcon {
            font-size: 2.2rem;

            @include smallPhone {
                margin: 0 0 0 1rem;
            }
        }

        // .arrowIcon::after {
        //     content: '';
        //     width: 8px;
        //     height: 8px;
        //     border-radius: 50%;
        // }  
    }
}
