@import 'setup';
@import 'variables';
@import 'header';
@import 'footer';


// About Me Section

.aboutMe {
    position: relative;

    .portfolioIntro {
        display: flex;
        flex-flow: row nowrap;
    }

    .profilePic {
        width: 50%;
        // padding: 40px 0 0 0;
    }

    .boxLeft {
        width: 260px;
        height: 260px;
        background: $primary;
        position: absolute;
        top: 80px;
        left: 350px;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    .myStory {
        padding: 75px 100px 0 200px;
        z-index: 99;
        
    }
    h1 {
        padding: 50px 800px 0 0;
        position: absolute;
        top: 40px;
        left: 425px;
        font-size: 3rem;
    }
}



// Skills Section

.mySkills {
    // display: flex;
    // flex-flow: column wrap;
    position: relative;

    .skillsList {
        display: flex;
        flex-flow: row-reverse nowrap;
    }

    .boxRight {
        width: 260px;
        height: 260px;
        background: $primary;
        position: absolute;
        top: 100px;
        right: 250px;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    .skillsPic {
        width: 33%;
    }

    .techSkills {
        padding: 50px 0 0 0;
        z-index: 99;
        text-align: center;

        i {
            font-size: 3rem;
        }
    }

    .tech1, 
    .tech2,
    .addTools {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 50px 0;
    }

    h1 {
        text-align: right;
        position: absolute;
        top: 140px;
        right: 300px;
        font-size: 3rem;
    }
}



// Portfolio Section

.myWorks {}



// Contact Section

.contactMe {}
