@import 'setup';
@import 'variables';
@import 'header';
@import 'footer';


// About Me Section

.aboutMe {

    .portfolioIntro {
        display: flex;
        flex-flow: row nowrap;
    }

     h1 {
        // padding: 50px 800px 0 0;
        text-align: center;
        font-size: 3rem;
        margin: 1rem auto;
    }

    .profilePic {
        width: 70%;
        margin-top: 1.5rem;

        img {
            border: 3px solid $accent;
            border-radius: 1rem;
        }
    }

    .myStory {
        padding: 0 1rem 0 2rem;
        width: 100%;
    }
}

// Skills Section

.mySkills {

    .skillsList {
        display: flex;
        flex-flow: row-reverse nowrap;
    }

    h1 {
        font-size: 3rem;
    }

    .skillsPic {
        width: 40%;
    }

    .techSkills {
        text-align: center;

        i {
            font-size: 3rem;

            &:hover {
                background: $primary;
                
            }
        }
    }

    .tech1, 
    .tech2,
    .addTools {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 50px 0;
    }
}

// Portfolio Section

.myWorks {
    // min-height: 100vh;
    h1 {
        text-align: center;
        font-size: 3rem;
    }

    .portWorks {
        text-align: center;
        z-index: 99;
        // margin: 0 auto;
    }

    .galleryWorks {
        width: 60%;
        margin: 0 auto;
    }

    .galleryCell {
        width: 100%;
        display: flex;
        flex-flow: row wrap;

        img {
            width: 100%;
        }
    }
    .workLinks {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 5%;
        
        a {
            color: $primary;
            margin: 0 5% 2%;

            &:hover {
                color: $accent;
            }
        }
    }
}



// Contact Section

.contactMe {
    margin: 20% 0 0 0;

    .inTouch {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        margin: 5%;
    }

    .letsTalk {
        width: 30%;
    }

    form {
        width: 60%;

        input,
        textarea {
            width: 100%;
        }

        fieldset {
            border: none;
        }

        .contactInfo {
            display: flex;
            flex-flow: row nowrap;
        }

        button {
            border-radius: 0;
            width: 100%;
            padding: 1% 2%;
            margin: 3% 0 0 0;
        }
    }
}