@import 'setup';
@import 'variables';
@import 'header';
@import 'footer';


// About Me Section

.aboutMe {
    background: #141414;

    .portfolioIntro {
        display: flex;
        flex-flow: row nowrap;

        @include tabletLand {
            flex-flow: column;
            align-items: center;
        }
    }

     h1 {
        // padding: 50px 800px 0 0;
        text-align: center;
        font-size: 3rem;
        margin: 0 auto 1rem;
        padding: 3rem 0 0 0;
    }

    .profilePic {
        width: 70%;
        margin-top: 1.5rem;

        img {
            border: 3px solid $accent;
            border-radius: 1rem;
        }
    }

    .myStory {
        padding: 0 1rem 0 2rem;
        width: 100%;
    }

    .scrollDown {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        margin: 1.5rem 0;
        
        .arrowIcon {
            font-size: 2.2rem;
        }

        // .arrowIcon::after {
        //     content: '';
        //     width: 8px;
        //     height: 8px;
        //     border-radius: 50%;
        // }  
    }
}

// Skills Section

.mySkills {

    .skillsList {
        display: flex;
        flex-flow: row-reverse nowrap;
    }

    h1 {
        font-size: 3rem;
    }

    .techSkills {
        text-align: center;

        i {
            font-size: 3rem;

            &:hover {
                color: $accent;
                
            }
        }
    }

    .tech1, 
    .tech2,
    .addTools {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 3rem 0;
    }

    .tech2 svg {
        fill: $tertiary;
    }

    .toolKit {
        .html,
        .html5 {
            &:hover {
                color: #e54d26;
            }
        }

        .css,
        .css3 {
            &:hover {
                color: #3d8fc6;
            }
        }

        .sassy,
        .sass {
            &:hover {
                color: #cc6699;
            }
        }

        .javaSc,
        .jScript {
            &:hover {
                color: #f0db4f;
            }
        }

        .jQueries,
        .jQuery {
            &:hover {
                color: #0769ad;
            }
        }

        .gitGit,
        .git {
            &:hover {
                color: #f34f29;
            }
        }

        .hubGit,
        .gitHub {
            &:hover {
                color: #181616;
            }
        }

        .react,
        .react1 {
            &:hover {
                color: #61dafb;
            }
        }

        .codeVS,
        .vsCode {
            &:hover {
                color: #68217a;
            }
        }

        .fireBased,
        .firebase {

            p {
                margin-top: 0.35rem;
            }
            &:hover {
                .svg1 {
                    fill: #ffa715;
                }
    
                .svg2 {
                    fill: #ffa611;
                }
                
                .svg3 {
                    fill: #ffcb2f;
                }

                p {
                    color: #ffa611;
                }
            }
        }
    }
    
    .addTools {
        .node,
        .nodeJS {
            &:hover {
                color: #83cd29;
            }
        }

        .angular,
        .angJS {
            &:hover {
                color: #c4473a;
            }
        }

        .reactNative,
        .react2 {
            &:hover {
                color: #61dafb;
            }
        }

        .vue,
        .vueJS {
            &:hover {
                color: #60be86;
            }
        }

        .pythonPro,
        .python {
            &:hover {
                color: #ffd845;
            }
        }
    }
}

// Portfolio Section

.myWorks {
    background: #141414;
    min-height: 100vh;
    h1 {
        text-align: center;
        font-size: 3rem;
        padding: 3rem 0 0 0;
    }

    .portWorks {
        text-align: center;
    }

    .galleryWorks {
        margin: 0 auto;
    }
    
    .galleryCell {
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        
        .cellImage {
            border-radius: 1rem;
            width: 100%;
            display: block;
        }
    }

    /* smaller, dark, rounded square */
    .flickity-button {
        background: #333;
    }
    .flickity-button:hover {
        background: $accent;

        .flickity-button-icon {
            fill: $primary;
        }
    }

    // flickity button size
    .flickity-prev-next-button {
        width: 3rem;
        height: 3rem;
        border-radius: 1rem;
    }
    /* icon color */
    .flickity-button-icon {
        fill: $accent;
    }
    /* position outside */
    .flickity-prev-next-button.previous {
        left: -4rem;
    }
    .flickity-prev-next-button.next {
        right: -4rem;
    }

    /* position dots up a bit */
    .flickity-page-dots {
        bottom: 0;
    }
    /* dots are lines */
    .flickity-page-dots .dot {
        height: 4px;
        width: 40px;
        margin: 0;
        border-radius: 0;
    }

    .flickity-enabled:focus .flickity-viewport {
    outline: thin dotted;
    outline: 5px auto $accent;
    }

    .workLinks {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-start;
        
        a {
            color: $tertiary;
            margin: 0 5% 2%;
            font-size: 2rem;

            &:hover {
                color: $accent;
            }
        }
    }
}

// Contact Section

.contactMe {
    margin: 2rem 0 0 0;

    .inTouch {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 2rem auto;
        text-align: center;
    }

    // .letsTalk {
    //     // width: 30%;
    // }

    form {
        width: 60%;

        input,
        textarea {
            width: 100%;
            border: 3px solid $primary;
            border-radius: 1rem;
            background: $tertiary;

            &:focus {
                outline: 5px auto $accent;
            }
        }

        fieldset {
            border: none;
        }

        .contactInfo {
            display: flex;
            flex-flow: row nowrap;
        }

        button {
            border-radius: 1rem;
            width: 100%;
            padding: 1% 2%;
            margin: 3% 0 0 0;
        }
    }

    .media i {
        color: #fff;
        border: 3px solid #fff;
        margin-bottom: 2%;

        &:hover {
            color: $accent;
        }
    }
}