
// Colors

$primary: #0a0a0a;
$secondary: #313131;
$tertiary: #b6b6b6;
$accent: #eabc63;


// $mainFont: 'Poppins', sans-serif;
$titleFont: 'Orbitron', sans-serif;
$mainFont: 'Cairo', sans-serif;

// Media Queries/Responsive Design

@mixin smallPhone {
	@media (min-width: 300px) and (max-width: 400px) { @content };
}

@mixin mobilePhone {
	@media (min-width: 400px) and (max-width: 600px) { @content };
}

@mixin landscapePhone {
	@media (min-width: 600px) and (max-width: 850px) { @content };
}

@mixin tabletLand {
	@media (min-width: 850px) and (max-width: 1050px) { @content };
}

@mixin laptopDesktop {
	@media (min-width: 1800px) { @content };
}
