// $primary: #41454b;
// $primary: #133039;
// $secondary: #0b8372;
$primary: #283048;
$secondary: #859398;
$tertiary: rgb(201, 201, 201);
// $accent: #68e0cf;
$accent: #191e36;

// $mainFont: 'Poppins', sans-serif;
$titleFont: 'Orbitron', sans-serif;
$mainFont: 'Cairo', sans-serif;
