// $primary: #41454b;
$primary: #133039;
// $secondary: #0b8372;
$accent: #68e0cf;
// linear-gradient(.25turn, rgb(252, 221, 226), 60%, rgba(252, 221, 226, 0.5))
// $primary: linear-gradient(to bottom, #2c3e50, 60%, #2980b9);
// $primary: #000C40;
$secondary: #F0F2F0;
// $primary: #283048;
// $secondary: #859398;
// $tertiary: #1e2330;

// $mainFont: 'Poppins', sans-serif;
$titleFont: 'Orbitron', sans-serif;
$mainFont: 'Cairo', sans-serif;
