article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  max-width: 100vw;
}

.wrapper {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

img {
  width: 100%;
}

section {
  min-height: 100vh;
}

body {
  font-family: "Cairo", sans-serif;
  background: #0a0a0a;
  color: #b6b6b6;
}

body a {
  text-decoration: none;
  color: #b6b6b6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body a:hover {
  color: #eabc63;
}

body button {
  background: #0a0a0a;
  border: 3px solid #0a0a0a;
  padding: 20px 30px;
  border-radius: 500px;
  color: #b6b6b6;
}

body button:hover {
  background: #0a0a0a;
  border: 3px solid #eabc63;
  color: #eabc63;
}

body .media {
  padding: 1rem 0 0 50px;
  margin: 0 auto;
}

@media (min-width: 300px) and (max-width: 400px) {
  body .media {
    padding: 1rem 0 0 0.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body .media i {
  border: 3px solid #b6b6b6;
  border-radius: 50%;
  padding: 10px;
  margin: 0 2.5rem 0 0;
  color: #b6b6b6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .media i:hover {
  color: #eabc63;
  background: #0a0a0a;
  border: 3px solid #eabc63;
}

@media (min-width: 300px) and (max-width: 400px) {
  body .media i {
    margin: 1rem;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Orbitron", sans-serif;
  color: #b6b6b6;
}

ul {
  margin-top: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  max-width: 100vw;
}

.wrapper {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

img {
  width: 100%;
}

section {
  min-height: 100vh;
}

body {
  font-family: "Cairo", sans-serif;
  background: #0a0a0a;
  color: #b6b6b6;
}

body a {
  text-decoration: none;
  color: #b6b6b6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body a:hover {
  color: #eabc63;
}

body button {
  background: #0a0a0a;
  border: 3px solid #0a0a0a;
  padding: 20px 30px;
  border-radius: 500px;
  color: #b6b6b6;
}

body button:hover {
  background: #0a0a0a;
  border: 3px solid #eabc63;
  color: #eabc63;
}

body .media {
  padding: 1rem 0 0 50px;
  margin: 0 auto;
}

@media (min-width: 300px) and (max-width: 400px) {
  body .media {
    padding: 1rem 0 0 0.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body .media i {
  border: 3px solid #b6b6b6;
  border-radius: 50%;
  padding: 10px;
  margin: 0 2.5rem 0 0;
  color: #b6b6b6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .media i:hover {
  color: #eabc63;
  background: #0a0a0a;
  border: 3px solid #eabc63;
}

@media (min-width: 300px) and (max-width: 400px) {
  body .media i {
    margin: 1rem;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Orbitron", sans-serif;
  color: #b6b6b6;
}

ul {
  margin-top: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  max-width: 100vw;
}

.wrapper {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

img {
  width: 100%;
}

section {
  min-height: 100vh;
}

body {
  font-family: "Cairo", sans-serif;
  background: #0a0a0a;
  color: #b6b6b6;
}

body a {
  text-decoration: none;
  color: #b6b6b6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body a:hover {
  color: #eabc63;
}

body button {
  background: #0a0a0a;
  border: 3px solid #0a0a0a;
  padding: 20px 30px;
  border-radius: 500px;
  color: #b6b6b6;
}

body button:hover {
  background: #0a0a0a;
  border: 3px solid #eabc63;
  color: #eabc63;
}

body .media {
  padding: 1rem 0 0 50px;
  margin: 0 auto;
}

@media (min-width: 300px) and (max-width: 400px) {
  body .media {
    padding: 1rem 0 0 0.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body .media i {
  border: 3px solid #b6b6b6;
  border-radius: 50%;
  padding: 10px;
  margin: 0 2.5rem 0 0;
  color: #b6b6b6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .media i:hover {
  color: #eabc63;
  background: #0a0a0a;
  border: 3px solid #eabc63;
}

@media (min-width: 300px) and (max-width: 400px) {
  body .media i {
    margin: 1rem;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Orbitron", sans-serif;
  color: #b6b6b6;
}

ul {
  margin-top: 0;
}

header {
  background: url(/styles/assets/water-blip.jpg) no-repeat;
  background-size: cover;
  height: 110vh;
}

@media (min-width: 850px) and (max-width: 1050px) {
  header {
    background-position: center;
  }
}

@media (min-width: 600px) and (max-width: 850px) {
  header {
    background-position: center;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  header {
    background-position: center;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  header {
    background-position: center;
  }
}

header .topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
  position: relative;
}

header .logo img {
  width: 50px;
  height: 50px;
  border: 1px solid #0a0a0a;
  border-radius: 0.25rem;
}

header .logo img:hover {
  border: 1px solid #eabc63;
}

@media (min-width: 300px) and (max-width: 400px) {
  header .logo img {
    display: none;
  }
}

header .burgerButton,
header .exit {
  display: none;
  color: #0a0a0a;
  font-size: 2rem;
}

@media (min-width: 400px) and (max-width: 600px) {
  header .burgerButton,
  header .exit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header .nav {
  width: 25rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav a {
  color: #0a0a0a;
  font-weight: 700;
}

@media (min-width: 400px) and (max-width: 600px) {
  header .nav {
    width: 70vw;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  header .nav {
    width: 80vw;
    padding: 0;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  header .aboutLink {
    display: none;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  header .aboutLink {
    display: none;
  }
}

header .mainHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

header .mainHead .media {
  padding: 1rem 0 0 50px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

@media (min-width: 300px) and (max-width: 400px) {
  header .mainHead .media {
    padding: 1rem 0 0 0.25rem;
  }
}

header h1 {
  font-size: 5rem;
  margin: 4rem auto 3rem;
  color: #0a0a0a;
  text-align: center;
}

@media (min-width: 850px) and (max-width: 1050px) {
  header h1 {
    font-size: 3.75rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 600px) and (max-width: 850px) {
  header h1 {
    font-size: 3rem;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  header h1 {
    margin-top: 3rem;
    font-size: 2.15rem;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  header h1 {
    font-size: 2.5rem;
    margin-top: 1.5rem;
    text-align: center;
  }
}

header .title {
  text-align: center;
}

@media (min-width: 850px) and (max-width: 1050px) {
  header .title h2 {
    background: #0a0a0a;
  }
}

@media (min-width: 600px) and (max-width: 850px) {
  header .title h2 {
    background: #0a0a0a;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  header .title h2 {
    font-size: 1.25rem;
    background: #0a0a0a;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  header .title h2 {
    font-size: 1rem;
    background: transparent;
    margin-top: 2.5rem;
  }
}

header .title .headLinks {
  padding: 1rem;
  margin: 0 auto;
  width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .title .headLinks button {
  background: #0a0a0a;
  color: #b6b6b6;
  border: 3px solid #b6b6b6;
}

header .title .headLinks button:hover {
  color: #eabc63;
  border: 3px solid #eabc63;
}

@media (min-width: 300px) and (max-width: 400px) {
  header .title .headLinks button {
    margin: 0.25rem auto;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  header .title .headLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
}

header .media i {
  background: #0a0a0a;
}

header .scrollDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin: 0 auto;
}

header .scrollDown .arrowIcon {
  font-size: 2.2rem;
}

@media (min-width: 300px) and (max-width: 400px) {
  header .scrollDown .arrowIcon {
    margin: 0 0 0 1rem;
  }
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  max-width: 100vw;
}

.wrapper {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

img {
  width: 100%;
}

section {
  min-height: 100vh;
}

body {
  font-family: "Cairo", sans-serif;
  background: #0a0a0a;
  color: #b6b6b6;
}

body a {
  text-decoration: none;
  color: #b6b6b6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body a:hover {
  color: #eabc63;
}

body button {
  background: #0a0a0a;
  border: 3px solid #0a0a0a;
  padding: 20px 30px;
  border-radius: 500px;
  color: #b6b6b6;
}

body button:hover {
  background: #0a0a0a;
  border: 3px solid #eabc63;
  color: #eabc63;
}

body .media {
  padding: 1rem 0 0 50px;
  margin: 0 auto;
}

@media (min-width: 300px) and (max-width: 400px) {
  body .media {
    padding: 1rem 0 0 0.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body .media i {
  border: 3px solid #b6b6b6;
  border-radius: 50%;
  padding: 10px;
  margin: 0 2.5rem 0 0;
  color: #b6b6b6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .media i:hover {
  color: #eabc63;
  background: #0a0a0a;
  border: 3px solid #eabc63;
}

@media (min-width: 300px) and (max-width: 400px) {
  body .media i {
    margin: 1rem;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Orbitron", sans-serif;
  color: #b6b6b6;
}

ul {
  margin-top: 0;
}

footer {
  background: #0a0a0a;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutMe {
  background: #141414;
}

.aboutMe .portfolioIntro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

@media (min-width: 850px) and (max-width: 1050px) {
  .aboutMe .portfolioIntro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 600px) and (max-width: 850px) {
  .aboutMe .portfolioIntro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .aboutMe .portfolioIntro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .aboutMe .portfolioIntro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.aboutMe h1 {
  text-align: center;
  font-size: 3rem;
  margin: 0 auto 1rem;
  padding: 3rem 0 0 0;
}

@media (min-width: 300px) and (max-width: 400px) {
  .aboutMe h1 {
    font-size: 2rem;
  }
}

.aboutMe .profilePic {
  width: 70%;
  margin-top: 1.5rem;
}

.aboutMe .profilePic img {
  border: 3px solid #eabc63;
  border-radius: 1rem;
}

@media (min-width: 300px) and (max-width: 400px) {
  .aboutMe .profilePic {
    width: 100%;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .aboutMe h2 {
    font-size: 1.25rem;
  }
}

.aboutMe .myStory {
  padding: 0 1rem 0 2rem;
  width: 100%;
}

@media (min-width: 300px) and (max-width: 400px) {
  .aboutMe .myStory {
    padding: 0;
  }
}

.aboutMe .scrollDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin: 1.5rem 0;
}

.aboutMe .scrollDown .arrowIcon {
  font-size: 2.2rem;
}

.mySkills .skillsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
}

.mySkills h1 {
  font-size: 3rem;
}

.mySkills .techSkills {
  text-align: center;
}

.mySkills .techSkills i {
  font-size: 3rem;
}

.mySkills .techSkills i:hover {
  color: #eabc63;
}

.mySkills .tech1,
.mySkills .tech2,
.mySkills .addTools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 0;
}

@media (min-width: 400px) and (max-width: 600px) {
  .mySkills .tech1 i, .mySkills .tech1 p,
  .mySkills .tech2 i,
  .mySkills .tech2 p,
  .mySkills .addTools i,
  .mySkills .addTools p {
    padding-right: 1rem;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .mySkills .tech1,
  .mySkills .tech2,
  .mySkills .addTools {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.mySkills .tech2 svg {
  fill: #b6b6b6;
}

.mySkills .toolKit .html:hover,
.mySkills .toolKit .html5:hover {
  color: #e54d26;
}

.mySkills .toolKit .css:hover,
.mySkills .toolKit .css3:hover {
  color: #3d8fc6;
}

.mySkills .toolKit .sassy:hover,
.mySkills .toolKit .sass:hover {
  color: #cc6699;
}

.mySkills .toolKit .javaSc:hover,
.mySkills .toolKit .jScript:hover {
  color: #f0db4f;
}

.mySkills .toolKit .jQueries:hover,
.mySkills .toolKit .jQuery:hover {
  color: #0769ad;
}

.mySkills .toolKit .gitGit:hover,
.mySkills .toolKit .git:hover {
  color: #f34f29;
}

.mySkills .toolKit .hubGit:hover,
.mySkills .toolKit .gitHub:hover {
  color: #181616;
}

.mySkills .toolKit .react:hover,
.mySkills .toolKit .react1:hover {
  color: #61dafb;
}

.mySkills .toolKit .codeVS:hover,
.mySkills .toolKit .vsCode:hover {
  color: #68217a;
}

.mySkills .toolKit .fireBased p,
.mySkills .toolKit .firebase p {
  margin-top: 0.35rem;
}

.mySkills .toolKit .fireBased:hover .svg1,
.mySkills .toolKit .firebase:hover .svg1 {
  fill: #ffa715;
}

.mySkills .toolKit .fireBased:hover .svg2,
.mySkills .toolKit .firebase:hover .svg2 {
  fill: #ffa611;
}

.mySkills .toolKit .fireBased:hover .svg3,
.mySkills .toolKit .firebase:hover .svg3 {
  fill: #ffcb2f;
}

.mySkills .toolKit .fireBased:hover p,
.mySkills .toolKit .firebase:hover p {
  color: #ffa611;
}

.mySkills .addTools .node:hover,
.mySkills .addTools .nodeJS:hover {
  color: #83cd29;
}

.mySkills .addTools .angular:hover,
.mySkills .addTools .angJS:hover {
  color: #c4473a;
}

.mySkills .addTools .reactNative:hover,
.mySkills .addTools .react2:hover {
  color: #61dafb;
}

.mySkills .addTools .vue:hover,
.mySkills .addTools .vueJS:hover {
  color: #60be86;
}

.mySkills .addTools .pythonPro:hover,
.mySkills .addTools .python:hover {
  color: #ffd845;
}

.myWorks {
  background: #141414;
  min-height: 100vh;
  /* smaller, dark, rounded square */
  /* icon color */
  /* position outside */
  /* position dots up a bit */
  /* dots are lines */
}

.myWorks h1 {
  text-align: center;
  font-size: 3rem;
  padding: 3rem 0 0 0;
}

.myWorks .portWorks {
  text-align: center;
}

.myWorks .galleryWorks {
  margin: 0 auto;
}

.myWorks .galleryCell {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.myWorks .galleryCell .cellImage {
  border-radius: 1rem;
  width: 100%;
  display: block;
}

.myWorks .flickity-button {
  background: #333;
}

.myWorks .flickity-button:hover {
  background: #eabc63;
}

.myWorks .flickity-button:hover .flickity-button-icon {
  fill: #0a0a0a;
}

.myWorks .flickity-prev-next-button {
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
}

.myWorks .flickity-button-icon {
  fill: #eabc63;
}

.myWorks .flickity-prev-next-button.previous {
  left: -4rem;
}

@media (min-width: 600px) and (max-width: 850px) {
  .myWorks .flickity-prev-next-button.previous {
    left: -3rem;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .myWorks .flickity-prev-next-button.previous {
    left: -2rem;
    top: 12.5rem;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .myWorks .flickity-prev-next-button.previous {
    left: -1.45rem;
    top: 3rem;
  }
}

.myWorks .flickity-prev-next-button.next {
  right: -4rem;
}

@media (min-width: 600px) and (max-width: 850px) {
  .myWorks .flickity-prev-next-button.next {
    right: -3rem;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .myWorks .flickity-prev-next-button.next {
    right: -2rem;
    top: 12.5rem;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .myWorks .flickity-prev-next-button.next {
    right: -1.45rem;
    top: 3rem;
  }
}

.myWorks .flickity-page-dots {
  bottom: 0;
}

.myWorks .flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}

.myWorks .flickity-enabled:focus .flickity-viewport {
  outline: thin dotted;
  outline: 5px auto #eabc63;
}

.myWorks .workLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.myWorks .workLinks a {
  color: #b6b6b6;
  margin: 0 5% 2%;
  font-size: 2rem;
}

.myWorks .workLinks a:hover {
  color: #eabc63;
}

.contactMe {
  margin: 2rem 0 0 0;
}

.contactMe .inTouch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem auto;
  text-align: center;
}

.contactMe form {
  width: 70%;
}

@media (min-width: 850px) and (max-width: 1050px) {
  .contactMe form {
    width: 100%;
  }
}

.contactMe form input,
.contactMe form textarea {
  width: 100%;
  border: 3px solid #0a0a0a;
  border-radius: 1rem;
  background: #b6b6b6;
}

.contactMe form input:focus,
.contactMe form textarea:focus {
  outline: 5px auto #eabc63;
}

.contactMe form fieldset {
  border: none;
}

.contactMe form .contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

@media (min-width: 400px) and (max-width: 600px) {
  .contactMe form .contactInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .contactMe form .contactInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
}

.contactMe form button {
  border-radius: 1rem;
  width: 100%;
  padding: 1% 2%;
  margin: 3% 0 0 0;
}

.contactMe .media i {
  color: #fff;
  border: 3px solid #fff;
  margin-bottom: 2%;
}

.contactMe .media i:hover {
  color: #eabc63;
}
